// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';



.title-link{
  color: #1a1c21;
  	&:hover {
         color: #337ab7;
       }
  text-align: right;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  padding-left: 10px; 

}
.title_link_right{
  color: black;
  	&:hover {
         color: #337ab7;
       }
  text-align: right;
  float: right;

}



.artist-link{
  color:rgb(0, 136, 255);
    
  text-align: left;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  padding-left: 10px; 
  

}





.panel-default > .panel-heading {
  background-color: black;
}

hr.line-break {
  margin-top: 12px;
  margin-bottom: 5px;
  border-top: 1px solid #eee
}

.post-photo-tag{
  width: 300px;
  height: 25px;
  font-size: 10px;
  z-index: 999;
  position: absolute;
  text-shadow: 0 0 2px black;
  color:white;
    &:hover {
         color: #337ab7;
       };
  padding-left: 3px;
  padding-top: 3px;
}

.user-post-photo_tag{
  border-radius: 12px;
  border: 1px solid white;

}

.time-ago-tag{
  text-align: right;
  font-size: 7px;
  padding-top: 5px;
  padding-right: 10px;
  color:black;
}

.comments-tag-on-feed {
  font-size: 9px;
  z-index: 999;
  position: absolute;
  padding-left: 10px;
  padding-top: 3px; 
  color:rgb(0, 136, 255);
    &:hover {
         color: #337ab7;
       }

}

.comment-link-color-change{
    font-size: 10px;
    color: black;
    &:hover {
         color: #337ab7;
       }

}


.video-title-link{
  color: #1a1c21;
    
  text-align: left;
  font-size: 3em;
  line-height: 18px;
  font-weight: 700;
  width: 50%;
  padding-top: 10px;
  display: inline-block;
 

}



.video-artist-link  {
  color: rgb(0, 136, 255);
    
  width: 49%;
  font-size: 2em;
  line-height: 18px;
  font-weight: 700;
  /*padding-right: 10px;*/
 
  text-align: right;
  padding-top: 15px;
  display: inline-block;
  

  

  

}




.video-nav{
  border-bottom: 1px solid #eee;


padding-right: 10px; 
padding-left:10px;


}

.video-info-container-header{
  border-bottom: 2px solid black;
  padding-right: 10px; 
  padding-left:10px;
  padding-bottom: 5px;
  
  width:100%;
  

  

}

.video-container{
  
  width: 65%;
  vertical-align: center;

}

.video-comments-container{
  width:25%;
 
  
}

@media screen and (max-width: 568px) {
  .video-title-link {
    font-size: .8em;
    width: 60%;
    
  }
}
  @media screen and (max-width: 568px) {
  .video-artist-link  {
    font-size: .6em;
    width: 35%;
    
  }
}

 @media screen and (max-width: 375px) {

h1{
  font-size: .5em;

  }
}


