// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

.title_link{
  color: black;
  	&:hover {
         color: grey;
       }
  text-align: right;

}
.title_link_right{
  color: black;
  	&:hover {
         color: grey;
       }
  text-align: right;
  float: right;

}

.panel-default > .panel-heading {
  background-color: black;
}


